<!-- apps/dashboard/templates/import-data.html -->

{% extends "layouts/base.html" %}

{% load static i18n %}

{% block title %} - {% trans "Import Data for" %} {{ profile.nom }} {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="mt-5">
    <div class="card">
        <div class="card-header card-header-icon">
            <div class="card-icon">
                <i class="fas fa-file-import fa-2x"></i>
            </div>
            <span class="card-title">
                {% trans "Residences Import Datas for" %} {{ profile.nom }}
                <br>
                {% if user.role == 'Superadmin' %}
                {% trans "Import Data ID" %} {{ profile.id }}
                {% endif %}
            </span>
        </div>

        <div class="card-body">
            <br>
            <form method="POST" action="{% url 'import-residences' profile.id %}" enctype="multipart/form-data">
                {% csrf_token %}
                <span class="text-center">{{ import_data_form.as_p }}</span>
                <br>

                <div class="text-center">
                    <button type="submit" class="btn btn-success btn-sm pull-left">{% trans "Import" %}</button>
                    <a href="javascript:history.back()" class="btn btn-sm pull-right">{% trans "Cancel" %}</a>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
