<!-- templates/accounts/password_reset_complete.html -->
{% extends "layouts/base.html" %}

{% load static %}

{% block title %} Password Reset Complete {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="container my-3 p-3">
        <div class="row justify-content-center">
            <div class="col-lg-5">
                <div class="card shadow-lg border-0 rounded-lg mt-0 mb-3">
                    <div class="alert alert-secondary">
                        <!--<h2 class="text-center">Reinitialisation du Mot de Passe Réussie</h2>-->
                        <p class="text-muted text-center">
                            Votre Mot de Passe à été mis à jour. Vous pouvez désormais vous connecter avec,
                            votre nouveau Mot de Passe.
                        </p>
                        <div class="text-center">
                            <a href="{% url 'login' %}" class="btn btn-success btn-sm">Retour à Connexion</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
