<!-- templates/accounts/password_reset_done.html -->
{% extends "layouts/base.html" %}

{% load static %}

{% block title %} Password Reset Done {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block favicon %}
<link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon7.ico' %}">
{% endblock %}

{% block content %}

    <div class="container mt-5">
        <h2 class="text-center">Mot de Passe Reinitialisation Exigé</h2>
        <p class="text-muted text-center">
            Si un compte existe sur l'Email fournis, Vous allez rapidement recevoir un message.
        </p>
        <div class="text-center">
            <a href="{% url 'login' %}" class="btn btn-success btn-sm mt-3">Retour à Connexion</a>
        </div>
    </div>

{% endblock %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
