<!-- templates/accounts/password_reset_form.html -->
{% extends "layouts/base.html" %}
{% load i18n %}

{% block title %} Password Reset Form {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block favicon %}
<link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon3.ico' %}">
{% endblock %}

{% block content %}

    <div class="container mt-5">
        <h2 class="text-center">Renouveller Mot de Passe</h2>
        <p class="text-muted text-center">Inscriver votre Email pour inicier le Changement.</p>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="text-center pull-left">
                <button type="submit" class="btn btn-success btn-sm">Nouveau Mot de Passe</button>
            </div>

            &nbsp; &nbsp;
            <span class="pull-right">
                Déjà Abonné? <a href="{% url 'login' %}" class="text-primary">Connexion</a>
            </span>
        </form>
    </div>

{% endblock %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
