<!-- templates/accounts/password_reset_email.html -->
{% extends "layouts/base.html" %}
{% load i18n %}

{% load static %}

{% block title %} Password Reset Email {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block favicon %}
<link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon5.ico' %}">
{% endblock %}

{% block content %}

<p>Bonjour,</p>
<p>Nous Avons reçu une demande de résiliation de votre Mot de Passe.</p>
<p>Cliquer le lien sous-dessous afin de Réinitialiser votre Mot de Passe:</p>
<p>
    <a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">
        Nouveau Mot de Passe
    </a>
</p>
<p>Si Vous n'avez pas exigez de reinitialisation, ignorer cet Email.</p>
<p>Merci!</p>

{% endblock %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}