<!-- templates/accounts/password_reset_confirm.html -->
{% extends "layouts/base.html" %}

{% load static %}

{% block title %} Password Reset Confirm {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block favicon %}
<link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon1.ico' %}">
{% endblock %}

{% block content %}

    <div class="form-content my-3 p-3">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-5">
                    {% if validlink %}
                    <div class="card shadow-lg border-0 rounded-lg mt-0 mb-3">
                        <div class="card-header justify-content-center">
                            <h3 class="font-weight-light my-4 text-warning text-center">Reinitialisez votre Mot de Passe</h3>
                        </div>
                        {% if form.errors %}
                        <div class="alert alert-danger alert-dismissible" role="alert">
                            <div id="form_errors">
                                {% for key, value in form.errors.items %}
                                <strong>{{ value }}</strong>
                                {% endfor %}
                            </div>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        {% endif %}
    
                        <div class="card-body">
                            <form method="POST">
                                {% csrf_token %}
                                <div class="form-row">
                                    <div class="col-md-10 offset-md-1">
                                        <div class="form-group">
                                            <label class="small mb-1" for="id_new_password1">Nouveau mot de Passe</label>
                                            <input type="password" name="new_password1" autocomplete="new-password"
                                                class="form-control" required id="id_new_password1"
                                                placeholder="Entrez mot de passe" />
                                            <!-- Eye icon for toggling password visibility for the first password -->
                                            <i class="fa fa-eye-slash position-absolute" id="toggleNewPassword1"
                                                style="cursor: pointer; top: 50%; right: 10px; transform: translateY(-50%);"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-10 offset-md-1">
                                        <div class="form-group">
                                            <label class="small mb-1" for="id_new_password2">
                                                Mot de Passe Confirmation
                                            </label>
                                            <input type="password" name="new_password2" autocomplete="new-password" required
                                                id="id_new_password2" class="form-control" placeholder="Confirmez mot de passe" />
                                            <!-- Eye icon for toggling password visibility for the second password -->
                                            <i class="fa fa-eye-slash position-absolute" id="toggleNewPassword2"
                                                style="cursor: pointer; top: 50%; right: 10px; transform: translateY(-50%);"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-10 offset-md-1">
                                        <div class="form-group mt-0 mb-1">
                                            <button type="submit" class="col-md-12 btn btn-sm btn-warning" id="reset">
                                                Valider Reinitialisation
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    {% else %}
                    <div class="alert alert-warning">
                        Le lien de Reinitialisation de Mot de Passe est Invalide, Sûrement du au fait qu'il a déja été utilisé.
                        S'il vous plaît faite une nouvelle demande de reinitialisation de votre Mot de Passe.
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
    // Function to toggle password visibility
    function togglePasswordVisibility(toggleIcon, passwordField) {
        toggleIcon.addEventListener('click', function () {
            if (passwordField.type === "password") {
                passwordField.type = "text";
                toggleIcon.classList.remove("fa-eye-slash");
                toggleIcon.classList.add("fa-eye");
            } else {
                passwordField.type = "password";
                toggleIcon.classList.remove("fa-eye");
                toggleIcon.classList.add("fa-eye-slash");
            }
        });
    }

    // Show the Password Fields during Password Reset
    const toggleNewPassword1 = document.querySelector("#toggleNewPassword1");
    const newPasswordField1 = document.querySelector("#id_new_password1");
    const toggleNewPassword2 = document.querySelector("#toggleNewPassword2");
    const newPasswordField2 = document.querySelector("#id_new_password2");

    if (toggleNewPassword1 && newPasswordField1) {
        togglePasswordVisibility(toggleNewPassword1, newPasswordField1);
    }

    if (toggleNewPassword2 && newPasswordField2) {
        togglePasswordVisibility(toggleNewPassword2, newPasswordField2);
    }
</script>
{% endblock javascripts %}
    