<!-- templates/accounts/password_reset_confirm.html -->
{% extends "layouts/base.html" %}

{% block title %} Password Reset Confirm {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block favicon %}
<link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon1.ico' %}">
{% endblock %}

{% block content %}

    <div class="container mt-5">
        <h2 class="text-center">Entrez Nouveau Mot de Passe</h2>
        <p class="text-muted text-center">Enter un Nouveau Mot de Passe pour Votre Compte.</p>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-warning">Changez Mot de Passe</button>
            </div>
        </form>
    </div>

{% endblock %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
