{% load i18n %}
{% autoescape off %}
{% blocktrans %}Hello,{% endblocktrans %}
{% blocktrans %}You have requested to reset your password ({{ user.email }}).{% endblocktrans %}
{% blocktrans %}To do so, click on the link below:{% endblocktrans %}

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

{% blocktrans %}If the link does not work, copy the URL and paste it into your browser.{% endblocktrans %}
{% blocktrans %}If you did not make this request, please ignore this email.{% endblocktrans %}

{% blocktrans %}Thank you,  
The CoProManager Team.{% endblocktrans %}
{% endautoescape %}
