<!-- templates/accounts/password_reset_complete.html -->
{% extends "layouts/base.html" %}

{% load static i18n %}

{% block title %} {% trans "Password Reset Complete" %} {% endblock %}

<!-- Specific Page CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="container my-3 p-3">
        <div class="row justify-content-center">
            <div class="col-lg-5">
                <div class="card shadow-lg border-0 rounded-lg mt-0 mb-3">
                    <div class="alert alert-secondary">
                        <!--<h2 class="text-center">{% trans "Reinitialisation du Mot de Passe Réussie" %}</h2>-->
                        <p class="text-muted text-center">
                            {% trans "Your password has been updated. You can now log in with your new password." %}
                        </p>
                        <div class="text-center">
                            <a href="{% url 'login' %}" class="btn btn-success btn-sm">{% trans "Back to Login" %}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

<!-- Specific Page JS goes HERE -->
{% block javascripts %}{% endblock javascripts %}
