{% extends "layouts/base.html" %}

{% load static i18n %}

<!-- Specific Page CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block title %}
- {{ titlePage|default:_("Super User Template") }}
{% endblock %}

{% block content %}
<main class="auth layout">
    <div class="container my-3">
        <div class="text-center">
            <p class="text-muted">{% trans "Manage your VIP profile seamlessly." %}</p>
        </div>

        {% if titlePage == 'Login' %}
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card shadow border-success">
                    <div class="card-header bg-success text-white text-center">
                        <h5>{% trans "Super Syndic Login" %}</h5>
                    </div>
                    <div class="card-body">
                        <p class="text-muted">{% trans "Access your account dashboard below." %}</p>
                        <div class="text-center">
                            {% if user.role == 'SuperSyndic' %}
                            <a href="{% url 'dashboard-supersyndic' supersyndic.id %}" class="btn btn-success btn-sm">
                                {% trans "Login" %}
                            </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center">
            <a href="{% url 'login' %}" class="btn btn-sm btn-secondary"
                onclick="window.history.back(); return false;">{% trans "Cancel" %}</a>
        </div>
        {% else %}
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card shadow">
                    <div class="card-header  card-header-icon text-center">
                        <div class="card-icon">
                            <i class="fa-solid fa-right-to-bracket fa-fade"></i>
                        </div>
                        <h5 class="card-title mb-0">{% trans "Super Syndic Registration" %}</h5>
                    </div>
                    <div class="card-body">
                        <form method="POST" action="">
                            {% csrf_token %}
                            {% for field in supersyndic_form %}
                            <div class="mb-3">
                                <label class="form-label">{{ field.label }}</label>
                                <span class="text-primary">{{ field }}</span>
                                {% if field.errors %}
                                <div class="text-danger small">{{ field.errors|join:" " }}</div>
                                {% endif %}
                            </div>
                            {% endfor %}
                            <div class="mt-4">
                                <button type="submit" class="btn bg-success btn-sm">{% trans "Register" %}</button>
                                
                                <a href="{% url 'login' %}" class="btn btn-sm btn-secondary pull-right"
                                    onclick="window.history.back(); return false;">{% trans "Cancel" %}
                                </a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</main>

{% endblock %}
