{% extends "layouts/base.html" %}

{% load static i18n %}

{% block title %} {% trans "Register" %} {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <div class="row justify-content-center">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header card-header-icon">
          <div class="card-icon">
            <i class="material-icons">person</i>
          </div>
          <h4 class="card-title">
            {% trans "Create User" %}
          </h4>
        </div>
        <div class="card-body">

          <h6 class="card-category">
              {% if msg %}
                <span class="text-danger">{{ msg | safe }}</span>
              {% else %}
                {% trans "Add Credentials" %}
              {% endif %}  
          </h6>
          
          <br />

          <form role="form" method="post" action="">
              
            {% csrf_token %} 

            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label class="bmd-label-floating"></label>
                  {{ form.email }}
                </div>
              </div>
            </div>
            <span class="text-danger">{{ form.email.errors }}</span>

            <br />

            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label class="bmd-label-floating"></label>
                  {{ form.nom }}
                </div>
              </div>
            </div>
            <span class="text-danger">{{ form.nom.errors }}</span>

            <br />

            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label class="bmd-label-floating"></label>
                  {{ form.prenom }}
                </div>
              </div>
            </div>
            <span class="text-danger">{{ form.prenom.errors }}</span>

            <br />

            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label class="bmd-label-floating">{% trans "Role:" %}</label>
                  {{ form.role }}
                </div>
              </div>
            </div>
            <span class="text-danger">{{ form.role.errors }}</span>

            <br />

            {% if user.role == 'Superadmin' %}
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label class="bmd-label-floating">{% trans "Is Acitve:" %}</label>
                  {{ form.is_active }}
                </div>
              </div>
            </div>
            <span class="text-danger">{{ form.is_active.errors }}</span>

            <br />

            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label class="bmd-label-floating">{% trans "User:" %}</label>
                  {{ form.is_superuser }}
                </div>
              </div>
            </div>
            <span class="text-danger">{{ form.is_superuser.errors }}</span>

            <br />
            
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label class="bmd-label-floating"> status:</label>
                  {{ form.status }}
                </div>
              </div>
            </div>
            <span class="text-danger">{{ form.status.errors }}</span>
            
            <br />
            {% endif %}

            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label class="bmd-label-floating"></label>
                  {{ form.password1 }}
                  <!-- Eye icon for toggling password visibility for the first password -->
                  <i class="fa fa-eye-slash position-absolute" id="togglePassword1"
                    style="cursor: pointer; top: 50%; right: 10px; transform: translateY(-50%);"></i>
                </div>
              </div>
            </div>
            <span class="text-danger">{{ form.password1.errors }}</span>

            <br />

            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label class="bmd-label-floating"></label>
                  {{ form.password2 }}
                  <!-- Eye icon for toggling password visibility for the second password -->
                  <i class="fa fa-eye-slash position-absolute" id="togglePassword2"
                    style="cursor: pointer; top: 50%; right: 10px; transform: translateY(-50%);"></i>
                </div>
              </div>
            </div>
            <span class="text-danger">{{ form.password2.errors }}</span>

            <br />

            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label class="bmd-label-floating"></label>
                  {{ form.phone }}
                </div>
              </div>
            </div>
            <span class="text-danger">{{ form.phone.errors }}</span>
            
            <br />
            
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label class="bmd-label-floating"></label>
                  {{ form.commercial }}
                </div>
              </div>
            </div>
            <span class="text-danger">{{ form.commercial.errors }}</span>
            
            <br />
            
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label class="bmd-label-floating"></label>
                  {{ form.address }}
                </div>
              </div>
            </div>
            <span class="text-danger">{{ form.address.errors }}</span>
            
            <br />
            
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label class="bmd-label-floating"></label>
                  {{ form.city }}
                </div>
              </div>
            </div>
            <span class="text-danger">{{ form.city.errors }}</span>
            
            <br />
            
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label class="bmd-label-floating"></label>
                  {{ form.country }}
                </div>
              </div>
            </div>
            <span class="text-danger">{{ form.country.errors }}</span>
            
            <br />
            
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label class="bmd-label-floating"></label>
                  {{ form.postal_code }}
                </div>
              </div>
            </div>
            <span class="text-danger">{{ form.postal_code.errors }}</span>
            
            <br />
            
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label class="bmd-label-floating"></label>
                  {{ form.about_me }}
                </div>
              </div>
            </div>
            <span class="text-danger">{{ form.about_me.errors }}</span>
            
            <br />

            {% if user.role == 'Syndic' or user.role == 'SuperSyndic' %}
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label class="bmd-label-floating text-success">{% trans "Residences" %}:</label>
                  {{ form.residence }}
                </div>
              </div>
            </div>
            <span class="text-danger">{{ form.residence.errors }}</span>
            
            <br />
            {% endif %}

            {% if user.role == 'Superadmin' %}
            <label class="bmd-label-floating text-success">{% trans "Licence" %}</label>
            {{ license_form.as_p }}
            <br />
            {% endif %}

            <button type="submit" name="register" class="btn btn-success btn-sm pull-left">{% trans "Sign Up" %}</button>

            <!-- Go Back Button -->
            <a href="javascript:history.back()" class="btn btn-sm pull-right">
              {% trans "Cancel" %}
            </a>

            <div class="clearfix"></div>

          </form>

        </div>
      </div>
    </div>
  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
