{% extends "layouts/base.html" %}

{% block title %} Login {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <div class="row">
    <div class="col-md-5">
      <div class="card">
        <div class="card-header card-header-primary">
          <h4 class="card-title">
            Create Account
          </h4>
        </div>
        <div class="card-body">

          <h6 class="card-category">
              {% if msg %}
                <span class="text-danger">{{ msg | safe }}</span>
              {% else %}
                Add your credentials
              {% endif %}  
          </h6>
          
          <br />

          {% if success %}

            <p class="">
              Please <a href="{% url 'login' %}" class="text-black text-small">authenticate</a> using the new account.
            </p>  

          {% else %}
            <form role="form" method="post" action="">
                
              {% csrf_token %} 

              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="bmd-label-floating"></label>
                    {{ form.email }}
                  </div>
                </div>
              </div>
              <span class="text-danger">{{ form.email.errors }}</span>

              <br />

              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="bmd-label-floating"></label>
                    {{ form.nom }}
                  </div>
                </div>
              </div>
              <span class="text-danger">{{ form.nom.errors }}</span>

              <br />

              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="bmd-label-floating"></label>
                    {{ form.prenom }}
                  </div>
                </div>
              </div>
              <span class="text-danger">{{ form.prenom.errors }}</span>

              <br />

              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="bmd-label-floating">Role:</label>
                    {{ form.role }}
                  </div>
                </div>
              </div>
              <span class="text-danger">{{ form.role.errors }}</span>

              <br />

              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="bmd-label-floating"></label>
                    {{ form.password1 }}
                  </div>
                </div>
              </div>
              <span class="text-danger">{{ form.password1.errors }}</span>

              <br />

              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="bmd-label-floating"></label>
                    {{ form.password2 }}
                  </div>
                </div>
              </div>
              <span class="text-danger">{{ form.password2.errors }}</span>

              <br />

              <button type="submit" name="register" class="btn btn-success btn-sm pull-left">Inscrire</button>

              <!-- Back Button gestion -->
              <a href="{% url 'dashboard-superadmin' %}" class="btn btn-sm pull-right">
               Backoffice
              </a>

              <div class="clearfix"></div>

            </form>

          {% endif %}

        </div>
      </div>
    </div>
  </div>
<!--
  <h2>Register</h2>
  <form method="post">
    {% if msg %}
    <div class="text-danger">{{ msg|safe }}</div>
    {% endif %}

    {% csrf_token %}
    {{ form.as_p }}
    <div class="text-center mt-5 mb-5">
      <button type="submit" class="btn btn-secondary">Register</button>
    </div>
  </form>
  {% if success %}
    <div class="success-message">{{ msg|safe }}</div>
  {% endif %}

  &nbsp; &nbsp;
  <span class="pull-right">
    Have an account? <a href="{% url 'login' %}" class="text-primary">Login</a>
  </span>
-->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
