<!-- apps/dashboard/templates/search-results.html -->

{% extends "layouts/base.html" %}

{% load static i18n %}

{% block title %} {% trans "Search Results" %} {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}



<form method="get" action="{% url 'superadmin-user-search' %}">
    <input type="text" name="q" placeholder="Search by email..." value="{{ query }}">
    <button type="submit">Search</button>
</form>

<table>
    <thead>
        <tr>
            <th>Email</th>
            <th>Role</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user.email }}</td>
            <td>{{ user.role }}</td>
            <td>
                <a href="{% url 'update-profile' user.id %}">Edit Profile</a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="3">No users found.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}