<!-- apps/dashboard/templates/update-profile.html -->

{% extends "layouts/base.html" %}

{% load static i18n %}

{% block title %} {% trans "Update User Profile" %} {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div>
    <div class="card">
        <div class="card-header card-header-icon">
            <div class="card-icon">
                <i class="fa-solid fa-id-card fa-2x"></i>
            </div>
            <h5 class="card-title">{{ titlePage }}</h5>
        </div>
        <div class="card-body">
            <form method="POST" action="{% url 'update-profile' profile.id %}">
                {% csrf_token %}
                {% if request.user.role == "Superadmin" and profile.role == "SuperSyndic" or user.role == 'SuperSyndic' %}
                    {{ supersyndic_form.as_p }}
                {% else %}
                    {{ form.as_p }}{{ syndic_form.as_p }}
                {% endif %}
            
                <div class="text-center">
                    <button type="submit" class="btn btn-success btn-sm pull-left">{% trans "Save Changes" %}</button>
                    <a href="javascript:history.back()" class="btn btn-sm pull-right">{% trans "Cancel" %}</a>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
