<!-- apps/dashboard/templates/remove-syndic.html -->

{% extends "layouts/base.html" %}

{% load static i18n %}

{% block title %} {% trans "Remove Syndicate Association with a Residence" %} {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="mt-5">
    <div class="card">
        <div class="card-header card-header-icon">
            <div class="card-icon">
                <i class="fa-solid fa-id-card fa-beat fa-2x"></i>
            </div>
            <h5 class="card-title">
                {% trans "Remove Syndicate Association with a Residence" %}
            </h5>
        </div>

        <div class="card-body">
            <form method="POST" action="">
                {% csrf_token %}
                <div class="mb-3">
                    {{ form.label_tag }}
                    {{ form.as_p }}
                    {% if form.errors %}
                    <span class="text-danger">{{ form.errors }}</span>
                    {% endif %}
                </div>
            
                <div class="text-center">
                    <button type="submit" class="btn btn-danger btn-sm pull-left">{% trans "Remove" %}</button>
                    <a href="javascript:history.back()" class="btn btn-sm pull-right">{% trans "Cancel" %}</a>
                </div>
                <div class="text-center mt-5">
                    <button type="submit" rel="tooltip" title="Remove" class="btn btn-danger btn-link btn-sm"
                        data-confirm="{% trans 'Are you sure you want to remove the association?' %}">
                        <i class="material-icons">close</i>
                    <br>
                    <span style="font-size: x-small;">{% trans "Remove" %}</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
