<!-- apps/dashboard/templates/syndic-datas.html -->

{% load static i18n %}

<style>
    .icons_span {
        font-size: x-small;
    }
</style>

{% if user.role == 'Superadmin' and profile %}
<div class="mb-5">
    <div>
        <a href="{% url 'register' %}?role=Syndic" class="btn btn-success btn-sm pull-left">{% trans "Create Syndic" %}</a>
        <a href="{% url 'create-residence' profile.user_id %}" class="btn btn-success btn-sm pull-right">
            {% trans "Create Residence" %}
        </a>
    </div>
    
    <br><br>

    <div>
        {% if license %}
        <a href="{% url 'customize-license' license.id %}" class="btn btn-warning btn-sm pull-left">
            {% trans "License" %} <i class="fa fa-key"></i>
        </a>
        {% endif %}
        
        <a href="{% url 'update-profile' profile.user_id %}" class="btn btn-warning btn-sm pull-right">
            {% trans "Profile" %} <i class="fa fa-key"></i>
        </a>
    </div>
</div>
{% endif %}

{% if user.role == 'Syndic' or user.role == 'SuperSyndic' %}
<div class="container">
    <a href="{% url 'register' %}?role=Prestataire" class="btn btn-success btn-sm pull-left">
        {% trans "Create Provider" %}
    </a>
    
    <a href="{% url 'create-residence' user.id %}" class="btn btn-success btn-sm pull-right">
        {% trans "Create Residence" %}
    </a>

    <div class="container text-center">
        <a href="{% url 'update-profile' %}" class="btn btn-warning btn-sm">
            {% trans "Modify Profile" %}
        </a>     
    </div>
</div>
{% endif %}

{% if user.role == 'Coproprietaire' or user.role == 'Prestataire' %}
<div class="text-center">
    <a href="{% url 'update-profile' %}" class="btn btn-warning btn-sm">
        {% trans "Modify Profile" %}
    </a>
</div>
{% endif %}

<!-- Card principale -->
<div class="card card-body">
    <div class="row gx-3 mb-1">
        <div class="col-12 col-lg-auto text-center text-lg-start my-auto">
            <h3 class="font-weight-bold">{{ nom }}</h3>
        </div>
    </div>

    <!-- Icônes et boutons sur la même ligne, mais empilés sur petits écrans-->
    <div class="d-flex flex-column flex-md-row justify-content-between align-items-center">
        <!-- Icônes -->
        <ul class="nav nav-pills p-1 d-flex text-center" style="z-index: 10; gap: 1rem;">
            <li class="nav-item">
                <a class="nav-link mb-0 px-0 py-0.5" data-bs-toggle="tab" href="tel:{{ phone }}" role="tab"
                    aria-selected="true">
                    <i class="material-icons text-lg position-relative icones-syndic" rel="tooltip"
                        title="{% trans 'Phone' %}">phone</i><br>
                    <span class="icons_span a_link">phone</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link mb-0 px-0 py-0.5" data-bs-toggle="tab" href="mailto:{{ syndic.user.email }}" role="tab"
                    aria-selected="false">
                    <i class="material-icons text-lg position-relative icones-syndic" rel="tooltip"
                        title="{% trans 'Message' %}">message</i><br>
                    <span class="icons_span a_link">message</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link mb-0 px-0 py-0.5" data-bs-toggle="tab" href="https://calendar.google.com/" role="tab"
                    aria-selected="false">
                    <i class="material-icons text-lg position-relative icones-syndic" rel="tooltip"
                        title="{% trans 'Event' %}">event</i><br>
                    <span class="icons_span a_link">event</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link mb-0 px-0 py-0.5" data-bs-toggle="tab" href="javascript:;" role="tab"
                    aria-selected="false">
                    <i class="material-icons text-lg position-relative icones-syndic" rel="tooltip"
                        title="{% trans 'Check box' %}">check_box</i><br>
                    <span class="icons_span a_link">check box</span>
                </a>
            </li>
        </ul>

        <!-- Boutons -->
        <div class="d-flex flex-column flex-sm-row mt-md-0 mb-4">
            <a class="btn bg-primary mx-1 my-1 btn-sm" href="{% url 'gestion-residence' %}">
                {% trans "Management of Residences" %}
            </a>
            <a class="btn bg-primary mx-1 my-1 btn-sm" href="#">
                {% trans "SUIVI FINANCIER" %}
            </a>
            <a class="btn bg-primary mx-1 my-1 btn-sm" href="#">
                {% trans "COMPTABILITE" %}
            </a>
        </div>
    </div>

    <!-- Informations contact et petites cards à droite -->
    <div class="row gx-4 gy-4" style="max-height: 400px; overflow-y: auto;">
        {% if syndic %}
        <!-- Syndic Information -->
        <div class="col-12 col-md-6 col-xl-4">
            <div class="card">
                <div class="card-header card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">person</i>
                    </div>
                    <h5 class="card-title">{{ syndic.user.nom }}</h5>
                    {% if user.role == 'Superadmin' %}
                    <p class="card-category">{% trans "Syndic id:" %} {{ syndic.user.id }}</p>
                    {% endif %}
                </div>
                <div class="card-body p-2">
                    <div>
                        <p>
                            <strong>Contact Principal:</strong>
                            <span class="fs-5">{{ syndic.user.prenom }}</span>
                        </p>
                        <p>
                            <strong>Email:</strong>
                            <span class="fs-5">
                                <a href="mailto:{{ syndic.user.email }}" class="a_link">
                                    {{ syndic.user.email }}
                                </a>
                            </span>
                        </p>
                        <p>
                            <strong>Phone:</strong> 
                            <span class="fs-5">
                                <a href="tel:{{ syndic.user.phone }}" class="a_link">
                                    {{ syndic.user.phone }}
                                </a>
                            </span>
                        </p>
                        <p>
                            <strong>Adresse du siège:</strong>
                            <span class="fs-5">{{ syndic.user.address }}</span>
                        </p>
                        <p>
                            <strong>Postal Code:</strong>
                            <span class="fs-5">{{ syndic.user.postal_code }}</span>
                        </p>
                        <p>
                            <strong>City:</strong>
                            <span class="fs-5">{{ syndic.user.city }}</span>
                        </p>
                        {% if user.role == 'Superadmin' %}
                        <p>
                            <strong>User ID:</strong>
                            <span class="fs-5">{{ syndic.user.id }}</span>
                        </p>
                        <p>
                            <strong>Role:</strong>
                            <span class="fs-5">{{ syndic.user.role }}</span>
                        </p>
                        <p>
                            <strong>Is Active:</strong>
                            <span class="fs-5">{{ syndic.user.get_is_active_display }}</span>
                        </p>
                        <p>
                            <strong>Regular/Super:</strong>
                            <span class="fs-5">{{ syndic.user.get_is_superuser_display }}</span>
                        </p>
                        <p>
                            <strong>Statut:</strong>
                            <span class="fs-5">{{ syndic.user.get_status_display }}</span>
                        </p>
                        <p>
                            <strong>Commercial:</strong>
                            <span class="fs-5">{{ syndic.user.commercial }}</span>
                        </p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% endif %}

        {% if supersyndic %}
        <!-- Syndic Information -->
        <div class="col-12 col-md-6 col-xl-4">
            <div class="card">
                <div class="card-header card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">person</i>
                    </div>
                    <h5 class="card-title">{{ supersyndic.user.nom }}</h5>
                    {% if user.role == 'Superadmin' %}
                    <p class="card-category">{% trans "Super Syndic id:" %} {{ supersyndic.id }}</p>
                    {% endif %}
                </div>
                <div class="card-body p-2">
                    <div>
                        <p>
                            <strong>Contact Principal:</strong>
                            <span class="fs-5">{{ supersyndic.user.prenom }}</span>
                        </p>
                        <p>
                            <strong>Email:</strong>
                            <span class="fs-5">
                                <a href="mailto:{{ supersyndic.user.email }}" class="a_link">
                                    {{ supersyndic.user.email }}
                                </a>
                            </span>
                        </p>
                        <p>
                            <strong>Phone:</strong>
                            <span class="fs-5">
                                <a href="tel:{{ supersyndic.user.phone }}" class="a_link">
                                    {{ supersyndic.user.phone }}
                                </a>
                            </span>
                        </p>
                        <p>
                            <strong>Adresse du siège:</strong>
                            <span class="fs-5">{{ supersyndic.user.address }}</span>
                        </p>
                        <p>
                            <strong>Postal Code:</strong>
                            <span class="fs-5">{{ supersyndic.user.postal_code }}</span>
                        </p>
                        <p>
                            <strong>City:</strong>
                            <span class="fs-5">{{ supersyndic.user.city }}</span>
                        </p>
                        {% if user.role == 'Superadmin' %}
                        <p>
                            <strong>User ID:</strong>
                            <span class="fs-5">{{ supersyndic.user.id }}</span>
                        </p>
                        <p>
                            <strong>Role:</strong>
                            <span class="fs-5">{{ supersyndic.user.role }}</span>
                        </p>
                        <p>
                            <strong>Is Active:</strong>
                            <span class="fs-5">{{ supersyndic.user.get_is_active_display }}</span>
                        </p>
                        <p>
                            <strong>Regular/Super:</strong>
                            <span class="fs-5">{{ supersyndic.user.get_is_superuser_display }}</span>
                        </p>
                        <p>
                            <strong>Statut:</strong>
                            <span class="fs-5">{{ supersyndic.user.get_status_display }}</span>
                        </p>
                        <p>
                            <strong>Commercial:</strong>
                            <span class="fs-5">{{ supersyndic.user.commercial }}</span>
                        </p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% endif %}

        {% if license %}
        <!-- License Information -->
        <!-- Nouvelle card "Information sur la Licence" à droite -->
        <div class="col-12 col-md-6 col-xl-4 offset-xl-4">
            <div class="card">
                <div class="card-header card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">assignment</i>
                    </div>
                    <h5 class="card-title">{% trans "License Information" %}</h5>
                    {% if user.role == 'Superadmin' %}
                    <p class="card-category">{% trans "License id:" %} {{ license.id }}</p>
                    {% endif %}
                </div>
                <div class="card-body p-2">
                    <p>
                        <strong>{% trans "Start Date:" %}</strong> {{ license.date_debut|date:"d/m/Y" }}
                    </p>
                    <p>
                        <strong>{% trans "End Date:" %}</strong> {{ license.date_fin|date:"d/m/Y" }}
                    </p>
                </div>
            </div>
        </div>
        {% endif %}
    </div>

    <!-- Nouvelle card "Nombre de Résidences" alignée à droite -->
    <div class="row mt-2" style="max-height: 400px; overflow-y: auto;">
        <!-- List of Managed Buildings (Immeubles) -->
        {% if coproprietaires or prestataires %}
        <!-- List of Co-owners (Coproprietaires) -->
        <div class="col-12 col-md-6 col-xl-4">
            <div class="card shadow-sm">
                <div class="card-header fs-8 card-header-icon">
                    <div class="card-icon">
                        <i class="fa-solid fa-city fa-2x"></i>
                    </div>
                    <h5 class="card-title">{% trans "Co- Information" %}</h5>
                    {% if user.role == 'Superadmin' %}
                    <p class="card-category">{% trans "Totals Co-" %} {{ total_count }}</p>
                    {% endif %}
                </div>
                <div class="card-body p-2">
                    <div>
                        <div class="stats">
                            <span><strong>{% trans "Total Co-owners" %}:</strong> {{ coproprietaires.count }}</span>
                            <a href="{% url 'gestion-coproprietaire' %}" class="view-details">
                                <span>{% trans "View Details" %}</span>
                            </a>
                        </div>
                    </div>
                    <div>
                        <div class="stats">
                            <span><strong>{% trans "Associated Co-Prestataires" %}:</strong> {{ prestataires.count }}</span>
                            <a href="{% url 'gestion-prestataire' %}" class="view-details">
                                <span>{% trans "View Details" %}</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        
        {% if residences %}
        <div class="col-12 col-md-6 col-xl-4 offset-xl-4">
            <div class="card shadow-sm">
                <div class="card-header card-header-icon">
                    <div class="card-icon">
                        <i class="fas fa-building fa-2x"></i>
                    </div>
                    <h5 class="card-title">{% trans "Managed Buildings" %}</h5>
                    {% if user.role == 'Superadmin' %}
                    <p class="card-category">{% trans "Totals" %} {{ residences.count }}</p>
                    {% endif %}
                </div>
                <div class="card-body p-2">
                    <span>
                        {% for residence in residences %}
                        <div class="stats">
                            <span>{% trans "Residence" %}<strong> {{ residence.nom }}:</strong></span>
                            <a href="{% url 'residence-detail' residence.id %}" class="view-details">
                                <span>{% trans "View Details" %}</span>
                            </a>
                        </div>
                        {% empty %}
                        <p>{% trans "No building found for this user." %}</p>
                        {% endfor %}
                    </span>
                </div>
            </div>
        </div>
        {% endif %}
    </div>

</div>

<!-- Go Back Button -->
<div class="text-center mt-3">
    {% if user.is_authenticated and user.role == 'Superadmin' %}
    <a href="javascript:history.back()" class="btn btn-sm">
        <i class="material-icons">arrow_back</i> {% trans "Go back" %}
    </a>
    {% else %}
    <a href="{% url 'home' %}" class="btn btn-secondary btn-sm">{% trans "Back to Home" %}</a>
    {% endif %}
</div>
