<!-- templates/home/customize_license.html -->
{% extends "layouts/base.html" %}

{% load static %}

{% block title %} - Customize License for {{ syndic.name }} {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block favicon %}
<link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon1.ico' %}">
{% endblock %}

{% block content %}

<div class="container">

    <div class="card">
        <div class="card-header text-white">
            <span>License ID {{ license.syndic.user.id|default:"Inconnu"}}</span>
            <br>
            <span>Customize License for {{ license.syndic.user.nom|default:"Inconnu"}}</span>
        </div>

        <div class="card-body">
            <form method="POST" action="{% url 'customize-license' license.id %}">
                {% csrf_token %}
                {{ license_form.as_p }}

                <div class="text-center">
                    <button type="submit" class="btn btn-success btn-sm pull-left">Sauvegarder</button>
                    {% if user.is_authenticated and user.role == 'Superadmin' %}
                    <a href="{% url 'dashboard-superadmin' %}" class="btn btn-sm pull-right">Annuler</a>
                    {% else %}
                    <a href="{% url 'home' %}" class="btn mb-4">Retour à l'accueil</a>
                    {% endif %}
                </div>
            </form>
        </div>
    </div>

</div>

{% endblock %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
