<!-- templates/home/dashboard_superadmin.html -->
{% extends "layouts/base.html" %}

{% load static %}

{% block title %} SuperAdmin Dashboard {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block favicon %}
<link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon3.ico' %}">
{% endblock %}

{% block content %}
<div class="container">

    <div class="container text-center mb-5">
        {% if user.is_authenticated and user.role == 'Superadmin' %}
        <a href="{% url 'register' %}" class="btn btn-success btn-sm">Inscription</a>
        {% endif %}
    </div>
    
    <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6">
                <a href="{% url 'gestion-syndic' %}" class="card-link">
                <div class="card card-stats">
                    <div class="card-header card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">person</i>
                        </div>
                        <p class="card-category text-white">infos Syndics</p>
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">
                            Total Syndics: {{ syndics.count }}
                            <small>nbr</small>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons text-success">warning</i>
                            <span class="text-white">Cliquer pour Creer et/ou modifier</span>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        
        <div class="col-lg-3 col-md-6 col-sm-6">
                <a href="{% url 'gestion-coproprietaire' %}" class="card-link">
                <div class="card card-stats">
                    <div class="card-header card-header-icon">
                        <div class="card-icon">
                            <i class="fas fa-group"></i>
                        </div>
                        <p class="card-category text-white">infos Coproprietaires</p>
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">
                            Total Coproprios: {{ coproprietaires.count }}
                            <small>nbr</small>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons text-success">warning</i>
                            <span class="text-white">Cliquer pour Creer et/ou modifier</span>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        
        <div class="col-lg-3 col-md-6 col-sm-6">
            <a href="{% url 'gestion-prestataire' %}" class="card-link">
                <div class="card card-stats">
                    <div class="card-header card-header-icon">
                        <div class="card-icon">
                            <i class="fas fa-address-book"></i>
                        </div>
                        <p class="card-category text-white">infos Prestataire</p>
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">
                            Total Prestataires: {{ prestataires.count }}
                            <small>nbr</small>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons text-success">warning</i>
                            <span class="text-white">Cliquer pour Creer et/ou modifier</span>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <!-- Back Button home -->
    <div class="text-center mt-3">
        <a href="{% url 'home' %}" class="btn btn-sm">Retour à l'accueil</a>
    </div>

</div>

{% endblock %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
