<!-- templates/home/dashboard_prestataire.html -->
{% extends "layouts/base.html" %}

{% load static %}

{% block title %} Prestataire Dashboard {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block favicon %}
<link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon1.ico' %}">
{% endblock %}

{% block content %}

<div class="container">

    {% if syndic %}
    <!-- Syndic Information -->
    <div class="card shadow-sm">
        <div class="card-header bg-primary text-white">
            <h4><i class="fas fa-user-tie"></i> Syndic Information</h4>
            <p class="mb-0">Bienvenue, {{ syndic.user.nom }}!</p>
        </div>
        <div class="card-body">
            <p><strong>Nom:</strong> {{ syndic.user.nom }}</p>
            <strong>Prenom:</strong> {{ syndic.user.username }}<br>
            <strong>Email:</strong> <a href="#" class="a_link">{{ syndic.user.email }}</a><br>
            <strong>Created at:</strong> {{ syndic.user.date_debut }}<br>
            <strong>Updated at:</strong> {{ syndic.user.updated_at }}<br>
        </div>
    </div>
    {% endif %}

    {% if license %}
    <!-- License Information -->
    <div class="card shadow-sm">
        <div class="card-header bg-info text-white">
            <h4><i class="fas fa-id-card"></i> License Information</h4>
        </div>
        <div class="card-body">
            <strong>ID License:</strong> {{ license.id }}<br>
            <strong>Date de début:</strong> {{ license.date_debut }}<br>
            <strong>Date de fin:</strong> {{ license.date_fin }}<br>
        </div>
    </div>
    {% endif %}

    {% if immeubles %}
    <!-- List of Managed Buildings (Immeubles) -->
    <div class="card shadow-sm">
        <div class="card-header bg-success text-white">
            <h3><i class="fas fa-building"></i> Managed Buildings</h3>
        </div>
        <div class="card-body">
            <ul>
                {% for immeuble in immeubles %}
                <li>{{ immeuble.nom }} - {{ immeuble.adresse }}</li>
                <br>
                {% empty %}
                <p>Aucun immeuble trouvée pour cet utilisateur.</p>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% endif %}

    {% if coproprietaires %}
    <!-- List of Co-owners (Coproprietaires) -->
    <div class="card shadow-sm">
        <div class="card-header bg-warning text-white">
            <h3><i class="fas fa-users"></i> Associated Co-owners</h3>
        </div>
        <div class="card-body">
            <ul>
                {% for coproprietaire in coproprietaires %}
                <li>- Nom: {{ coproprietaire.user.nom }}<br>
                    - Preom: {{ coproprietaire.user.username }}<br>
                    - Email: <a href="#" class="a_link">{{ coproprietaire.user.email }}</a><br>
                    - Syndic: {{ coproprietaire.syndic.user.username }}<br>
                </li>
                <br>
                {% empty %}
                <p>Aucun coproprietaire trouvée pour cet utilisateur.</p>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% endif %}

    {% if prestataires %}
    <!-- List of Co-prestataires (Prestataires) -->
    <div class="card shadow-sm">
        <div class="card-header bg-secondary text-white">
            <h3><i class="fas fa-handshake"></i> Associated Co-prestataires</h3>
        </div>
        <div class="card-body">
            <ul>
                {% for prestataire in prestataires %}
                <li>- Nom: {{ prestataire.user.nom }}<br>
                    - Prenom: {{ prestataire.user.username }}<br>
                    - Email: <a href="#" class="a_link">{{ prestataire.user.email }}</a><br>
                    - Syndic: {{ prestataire.syndic.user.username }}<br>
                </li>
                <br>
                {% empty %}
                <p>Aucun prestataire trouvée pour cet utilisateur.</p>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% endif %}

    <!-- Back Button login -->
    <div class="text-center">
        {% if user.is_authenticated and user.role == 'Superadmin' %}
        <a href="{% url 'dashboard-superadmin' %}" class="btn btn-sm">Backoffice</a>
        {% else %}
        <a href="{% url 'home' %}" class="btn btn-sm">Retour à l'accueil</a>
        {% endif %}
    </div>

</div>

{% endblock %}