{% extends "layouts/base.html" %}

{% load static %}

{% block title %}Super User Dashboard{% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block favicon %}
<link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon1.ico' %}">
{% endblock %}

{% block content %}

    {% if user.is_authenticated and user.role == 'Superadmin' %}
    <div class="d-flex justify-content-center mb-3">
        <a href="{% url 'customize-license' super_syndic.id %}" class="btn btn-warning btn-sm pull-left">
            Modifier
        </a>
    </div>
    {% endif %}

    <div class="container">
        {% include 'includes/users-datas.html' %}
    </div>

{% endblock %}
