<!-- templates/home/dashboard_syndic.html -->
{% extends "layouts/base.html" %}

{% load static %}

{% block title %} Syndic Dashboard {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block favicon %}
<link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon7.ico' %}">
{% endblock %}

{% block content %}

    <div class="d-flex justify-content-center mb-3">
        <a href="{% url 'customize-license' syndic.id %}" class="btn btn-warning btn-sm pull-left">
            Modifier
        </a>
    </div>

    <div class="container">
        {% include 'includes/users-datas.html' %}
    </div>

{% endblock %}
