<!-- templates/home/gestion-super-syndic.html -->
{% extends "layouts/base.html" %}

{% load static %}

{% block title %} Super Syndic Dashboard {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{{ titlePage }}

{% block content %}
<div class="container">

    <div class="container text-center mb-5">
        {% if user.is_authenticated and user.role == 'Superadmin' %}
        <a href="{% url 'register' %}" class="btn btn-success btn-sm">Inscription</a>
        {% endif %}
    </div>
    
    <div class="card">
        <div class="card-header">
            <h3>Backoffice - Gestion des Super Syndics</h3>
        </div>
        <div class="card-body">

            <!-- Syndics Section -->
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card card-stats">
                        <div class="card-header card-header-icon">
                            <div class="card-icon">
                                <i class="material-icons">group</i>
                            </div>
                            <p class="card-category">Syndics</p>
                            <h3 class="card-title">{{ supersyndics.count }}</h3>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <i class="material-icons">info</i> Total Syndics
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <h3>Details des Syndics</h3>
            <div class="table-responsive mb-5">
                <table class="table table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th>Nom du Syndic</th>
                            <th>Email</th>
                            <th>Licence</th>
                            <th>Configurer</th>
                            <th>Super Syndic infos</th>
                            <th>Supprimer</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for supersyndic in supersyndics %}
                        <tr>
                            <td>{{ supersyndic.nom }}</td>
                            <td><a href="#" class="a_link">{{ supersyndic.email }}</a></td>
                            <td>
                                {% if supersyndic.license %}
                                n°{{ supersyndic.license.id }}: 
                                ({{ supersyndic.license.date_debut|date:"D, d M Y" }} -
                                {{ supersyndic.license.date_fin|date:"D, d M Y" }})
                                {% else %}
                                Pas de license
                                {% endif %}
                            </td>
                            <td>
                                {% if supersyndic.license %}
                                <a href="{% url 'customize-license' supersyndic.license.id %}" class="a_link">
                                    <button type="su" rel="tooltip" title="Configurer"
                                        class="btn btn-primary btn-link btn-sm">
                                        <i class="material-icons">edit</i>
                                    </button>
                                </a>
                                {% else %}
                                <p>No license found for this syndic.</p>
                                {% endif %}
                            </td>
                            <td>
                                {% if supersyndic.license %}
                                <a href="{% url 'dashboard-supersyndic' supersyndic.id %}" class="btn btn-sm">Voir Détails</a>
                                {% else %}
                                <p>No license Détails for this syndic.</p>
                                {% endif %}
                            </td>
                            <!-- Add Delete Button -->
                            <td>
                               <form method="post" action="{% url 'delete-supersyndic' supersyndic.id }" style="display:inline;">
                                    {% csrf_token %}
                                    <button type="submit" rel="tooltip" title="Supprimer"
                                        class="btn btn-danger btn-link btn-sm"
                                        onclick="return confirm('Êtes-vous sûre de vouloire supprimer super syndic?');">
                                        <i class="material-icons">close</i>
                                    </button>
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>
    </div>

    <!-- Back Button dasboad-superadmin -->
    <div class="text-center mt-3">
        <a href="{% url 'dashboard-superadmin' %}" class="btn btn-sm">Backoffice</a>
    </div>
    
</div>

{% endblock %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
