<!-- templates/home/dashboard_superadmin.html -->
{% extends "layouts/base.html" %}

{% load static %}

{% block title %} SuperAdmin Dashboard Prestataire {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<div class="container">

    <div class="container text-center mb-5">
        {% if user.is_authenticated and user.role == 'Superadmin' %}
        <a href="{% url 'register' %}" class="btn btn-success btn-sm">Inscription</a>
        {% endif %}
    </div>

    <div class="card">
        <div class="card-header">
            <h3>Backoffice - Gestion des Prestataires</h3>
        </div>
        <div class="card-body">
            <!-- Prestataires Section -->
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card card-stats">
                        <div class="card-header card-header-icon">
                            <div class="card-icon">
                                <i class="material-icons">business_center</i>
                            </div>
                            <p class="card-category">Prestataires</p>
                            <h3 class="card-title">{{ prestataires.count }}</h3>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <i class="material-icons">info</i> Total Prestataires
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <h3>Details des Prestataires</h3>
            <div class="table-responsive mb-5">
                <table class="table table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th>Nom du Prestataire</th>
                            <th>Email</th>
                            <th>Prestataires infos</th>
                            <th>Supprimer</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for prestataire in prestataires %}
                        <tr>
                            <td>{{ prestataire.nom }}</td>
                            <td>{{ prestataire.email }}</td>
                            <td>
                                <a href="{% url 'dashboard-prestataire'  prestataire.id %}" class="btn btn-sm">
                                    Voir Détails
                                </a>
                            </td>
                            <!-- Prestataires Delete Button -->
                            <td>
                                <form method="post" action="{% url 'delete-prestataire' prestataire.id %}"
                                    style="display:inline;">
                                    {% csrf_token %}
                                    <button type="submit" rel="tooltip" title="Supprimer"
                                        class="btn btn-danger btn-link btn-sm"
                                        onclick="return confirm('Êtes-vous sûre de vouloire supprimer prestataire?');">
                                        <i class="material-icons">close</i>
                                    </button>
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- Back Button dasboad-superadmin -->
    <div class="text-center mt-3">
        <a href="{% url 'dashboard-superadmin' %}" class="btn btn-sm">Backoffice</a>
    </div>

</div>

{% endblock %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
