{% extends "layouts/base.html" %}

{% load i18n %}

{% block title %} {% trans "Page 500" %} {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="row">
        <div class="col-md-12">
            <div class="card card-profile">
                <div class="card-body">
                    <h6 class="card-category text-gray">{% trans "Error 500" %}</h6>
                    <h4 class="card-title">
                        {% trans "Internal Server Error" %}
                    </h4>
                    <a href="/" class="btn btn-primary btn-round">{% trans "Home" %}</a>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
