{% extends "layouts/base.html" %}

{% load static i18n %}

{% block title %} {% trans "Page User" %} {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

          <div class="row">
            <div class="col-md-8">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title">{% trans "Edit Profile" %}</h4>
                  <p class="card-category">{% trans "Complete your profile" %}</p>
                </div>
                <div class="card-body">
                  <form>
                    <div class="row">
                      <div class="col-md-5">
                        <div class="form-group">
                          <label class="bmd-label-floating">{% trans "UserID (disabled)" %}</label>
                          <input type="text" class="form-control" disabled value="{{ current_user.id }}">
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="form-group">
                          <label class="bmd-label-floating">{% trans "Username" %}</label>
                          <input type="text" class="form-control" value="{{ current_user.username }}">
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label class="bmd-label-floating">{% trans "Email address" %}</label>
                          <input type="email" class="form-control" value="{{ current_user.email }}">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="bmd-label-floating">{% trans "First Name" %}</label>
                          <input type="text" class="form-control">
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="bmd-label-floating">{% trans "Last Name" %}</label>
                          <input type="text" class="form-control">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="bmd-label-floating">{% trans "Address" %}</label>
                          <input type="text" class="form-control">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-4">
                        <div class="form-group">
                          <label class="bmd-label-floating">{% trans "City" %}</label>
                          <input type="text" class="form-control">
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label class="bmd-label-floating">{% trans "Country" %}</label>
                          <input type="text" class="form-control">
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label class="bmd-label-floating">{% trans "Postal Code" %}</label>
                          <input type="text" class="form-control">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label>{% trans "About Me" %}</label>
                          <div class="form-group">
                            <label class="bmd-label-floating">{% trans "Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo." %}</label>
                            <textarea class="form-control" rows="5"></textarea>
                          </div>
                        </div>
                      </div>
                    </div>
                    <button type="submit" class="btn btn-primary pull-right">{% trans "Modify Profile" %}</button>
                    <div class="clearfix"></div>
                  </form>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card card-profile">
                <div class="card-avatar">
                  {% if user.is_authenticated and user.role == 'Superadmin' %}
                  <a href="https://siisi.copromanager.pro/">
                    <img class="img" src="/static/assets/img/faces/black-meduse.webp" />
                  </a>
                  {% else %}
                  <a href="#pablo">
                    <img class="img" src="/static/assets/img/faces/marc.jpg" />
                  </a>
                  {% endif %}
                </div>
                <div class="card-body">
                  <h6 class="card-category text-gray">
                    {{ current_user.username }}
                  </h6>
                  <h4 class="card-title">
                    {{ current_user.email }}
                  </h4>
                  <p class="card-description">
                    {% trans "Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is..." %}
                  </p>
                  <a href="#pablo" class="btn btn-primary btn-round">{% trans "Follow" %}</a>
                </div>
              </div>
            </div>
          </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
