{% extends "layouts/base.html" %}

{% load static i18n %}

{% block title %} {% trans "UI Tables" %} {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header card-header-primary">
        <h4 class="card-title ">{% trans "Simple Table" %}</h4>
        <p class="card-category"> {% trans "Here is a subtitle for this table" %}</p>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class="text-primary">
              <th>
                {% trans "ID" %}
              </th>
              <th>
                {% trans "Name" %}
              </th>
              <th>
                {% trans "Country" %}
              </th>
              <th>
                {% trans "City" %}
              </th>
              <th>
                {% trans "Salary" %}
              </th>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>Dakota Rice</td>
                <td>{% trans "Niger" %}</td>
                <td>{% trans "Oud-Turnhout" %}</td>
                <td class="text-primary">$36,738</td>
              </tr>
              <tr>
                <td>2</td>
                <td>Minerva Hooper</td>
                <td>{% trans "Curaçao" %}</td>
                <td>{% trans "Sinaai-Waas" %}</td>
                <td class="text-primary">$23,789</td>
              </tr>
              <tr>
                <td>3</td>
                <td>Sage Rodriguez</td>
                <td>{% trans "Netherlands" %}</td>
                <td>{% trans "Baileux" %}</td>
                <td class="text-primary">$56,142</td>
              </tr>
              <tr>
                <td>4</td>
                <td>Philip Chaney</td>
                <td>{% trans "Korea, South" %}</td>
                <td>{% trans "Overland Park" %}</td>
                <td class="text-primary">$38,735</td>
              </tr>
              <tr>
                <td>5</td>
                <td>Doris Greene</td>
                <td>{% trans "Malawi" %}</td>
                <td>{% trans "Feldkirchen in Kärnten" %}</td>
                <td class="text-primary">$63,542</td>
              </tr>
              <tr>
                <td>6</td>
                <td>Mason Porter</td>
                <td>{% trans "Chile" %}</td>
                <td>{% trans "Gloucester" %}</td>
                <td class="text-primary">$78,615</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="card card-plain">
      <div class="card-header card-header-primary">
        <h4 class="card-title mt-0"> {% trans "Table on Plain Background" %}</h4>
        <p class="card-category"> {% trans "Here is a subtitle for this table" %}</p>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-hover">
            <thead class="">
              <th>
                {% trans "ID" %}
              </th>
              <th>
                {% trans "Name" %}
              </th>
              <th>
                {% trans "Country" %}
              </th>
              <th>
                {% trans "City" %}
              </th>
              <th>
                {% trans "Salary" %}
              </th>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>Dakota Rice</td>
                <td>{% trans "Niger" %}</td>
                <td>{% trans "Oud-Turnhout" %}</td>
                <td>$36,738</td>
              </tr>
              <tr>
                <td>2</td>
                <td>Minerva Hooper</td>
                <td>{% trans "Curaçao" %}</td>
                <td>{% trans "Sinaai-Waas" %}</td>
                <td>$23,789</td>
              </tr>
              <tr>
                <td>3</td>
                <td>Sage Rodriguez</td>
                <td>{% trans "Netherlands" %}</td>
                <td>{% trans "Baileux" %}</td>
                <td>$56,142</td>
              </tr>
              <tr>
                <td>4</td>
                <td>Philip Chaney</td>
                <td>{% trans "Korea, South" %}</td>
                <td>{% trans "Overland Park" %}</td>
                <td>$38,735</td>
              </tr>
              <tr>
                <td>5</td>
                <td>Doris Greene</td>
                <td>{% trans "Malawi" %}</td>
                <td>{% trans "Feldkirchen in Kärnten" %}</td>
                <td>$63,542</td>
              </tr>
              <tr>
                <td>6</td>
                <td>Mason Porter</td>
                <td>{% trans "Chile" %}</td>
                <td>{% trans "Gloucester" %}</td>
                <td>$78,615</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}