<!DOCTYPE html>
{% load static i18n %}
<html lang="en">

<head>

  <meta charset="utf-8" />

  <meta name="geo.place-name" content="{% trans 'Spain' %}">
  <meta property="og:type" content="{% trans 'website' %}">
  <meta name="description"
    content="{% trans 'Experience the power of Your Copromanager AI. Enhance productivity, streamline tasks, and get personalized assistance.' %}">
  <meta property="og:title" content="{% trans 'Your Copromanager - AI Gestion des Syndics, Copropriétaires, Préstataires... .' %}">
  <meta property="og:description"
    content="{% trans 'Your Copromanager - Gestion des Syndics, Copropriétaires, Préstataires... . Your Copromanager AI. Increase productivity, automate tasks, and receive personalized recommendations.' %}">
  <meta property="og:image" content="https://test-cop.copromanager.com/static/assets/img/copro-logo.png">
  <meta property="og:url" content="https://your.copromanager.pro">
  <meta name="twitter:card" content="{% trans 'summary_large_image' %}">
  <meta name="twitter:title" content="{% trans 'Your Copromanager - Your Copromanager AI Gestion des Syndics, Copropriétaires, Préstataires... .' %}">
  <meta name="twitter:description"
    content="{% trans 'Your Copromanager - Your Copromanager AI. Increase productivity, automate tasks, and receive personalized recommendations.' %}">
  <meta name="twitter:image" content="https://test-cop.copromanager.com/static/assets/img/copro-logo.png">
  <meta name="keywords"
    content="{% trans 'Your Copromanager AI assistant, Gestion des Syndics, Copropriétaires, Préstataires, productivity, automation, personalized recommendations.' %}">
  <meta name="author" content="{% trans 'Developer' %}">
  <meta name="robots" content="{% trans 'index, follow' %}">
  <meta name="googlebot" content="{% trans 'index, follow' %}">
  <!-- meta for url 'www' -> https://www.test-cop.copromanager.com/ -->
  <!--<meta name="google-site-verification" content="gJqyAVIpypV09E7kseWFbfzt0l0Kw7i3RYTa6gTJDrs" />-->
  <meta name="google-site-verification" content="jabsogA0DhV_a5o5flnR_i915PtQx4zTOqlCLkHHkNQ" />
  
  <!--<link rel="apple-touch-icon" sizes="76x76" href="/static/assets/img/apple-icon.png">-->
  <!--<link rel="icon" type="image/png" href="/static/assets/img/favicon.png">-->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <link rel="canonical" href="https://appseed.us/admin-dashboards/django-dashboard-material">

  <title>
    {% trans 'Your Copromanager -' %} {% block title %}{% endblock %} | {% trans 'AI' %}
  </title>

  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  
  <!-- reCAPTCHA_v3 -->
  <script src="https://www.google.com/recaptcha/enterprise.js?render=6LcFMHoqAAAAACnmb1qlUcDuLlBrOCNWBcWtQYg9"></script>

  <!--     Fonts and icons     -->
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
  <!-- CSS Files -->
  <link href="/static/assets/css/material-dashboard.css?v=2.1.2" rel="stylesheet" />
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <!--<link href="/static/assets/demo/demo.css" rel="stylesheet" />-->

  <!-- Specific Page CSS goes HERE  -->
  {% block stylesheets %}{% endblock stylesheets %}

  <!-- Specific favicon goes HERE  -->
  {% block favicon %}<link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/img/copro-logo.png' %}">{% endblock %}

</head>

<body class="">
  
  <div class="wrapper ">
    {% block darkmode&language %}
    <div class="darkmode-selectlang-container mb-3">
      <div class="togglebutton">
        <label>
          <input type="checkbox" id="theme-toggle">
          <span id="darkMode" class="toggle"></span>
        </label>
        <span class="dark-mode-text">{% trans 'Dark Mode' %}</span>
      </div>
    
      <form id="language-form" class="language-form" method="post" action="{% url 'set_language' %}">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ request.path }}">
        <select id="language-selector" name="language"> <!--onchange="this.form.submit()">-->
          {% for lang_code, lang_name in LANGUAGES %}
          <option value="{{ lang_code }}" {% if lang_code == LANGUAGE_CODE %}selected{% endif %}>
            {{ lang_name }}
          </option>
          {% endfor %}
        </select>
      </form>
    </div>
    {% endblock %}

    {% include 'includes/sidebar.html' %}

    <div class="main-panel">

      {% include 'includes/navigation.html' %}

      <!-- End Navbar -->
      <div class="content">
        <div class="text-center mb-3">
          
        {% if user.is_authenticated and user.role == 'Superadmin' %}
          <img class="img-container" src="/static/assets/img/shark.png" />
        {% endif %}
        {% if user.is_authenticated %}
          <h5 class="prenom">{% trans '-¡!¡- Welcome,' %} {{ user.prenom }} {% trans '-¡!¡-' %}</h5>
        {% endif %}
          
          {% if messages %}
          <div>
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <i class="material-icons">close</i>
              </button>
              {{ message }}
            </div>
            {% endfor %}
          </div>
          {% endif %}

        </div>
        <div class="container-fluid">

          {% block content %}{% endblock content %}

        </div>
      </div>

      {% include 'includes/footer.html' %}

    </div>
  </div>

  {% include 'includes/fixed-plugin.html' %}

  {% include 'includes/scripts.html' %}

  {% include 'includes/scripts-sidebar.html' %}
  
  <!-- Specific Page JS goes HERE  -->
  {% block javascripts %}{% endblock javascripts %}

  <script>
    // Ensure the element exists before adding the event listener
      const languageSelector = document.getElementById("language-selector");
      if (languageSelector) {
        languageSelector.addEventListener("change", function () {
          document.getElementById("language-form").submit();
        });
      } else {
        console.warn("Language selector element not found.");
      }
  </script>
  
  <!-- reCAPTCHA_v3 grecaptcha.execute para todas las acciones que quieras proteger -->
  <script>
    function onClick(e) {
      e.preventDefault();
      grecaptcha.enterprise.ready(async () => {
        const token = await grecaptcha.enterprise.execute('6LcFMHoqAAAAACnmb1qlUcDuLlBrOCNWBcWtQYg9', { action: 'LOGIN' });
      });
    }
  </script>
  
  <script src="/static/assets/js/script.js"></script>

</body>

</html>
