<!-- apps/dashboard/templates/customize_license.html -->

{% extends "layouts/base.html" %}

{% load static i18n %}

{% block title %} - {% trans "Customize License for" %} {{ syndic.name }} {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="container">
{% if user.role == 'Superadmin' %}
    <div class="card">
        <div class="card-header card-header-icon">
            <div class="card-icon">
                <i class="fa-solid fa-id-card fa-beat fa-2x"></i>
            </div>
            <span  class="card-title">
                {% trans "License ID" %} {{ license.id }}
                <br>
                {% trans "Customize License for" %} 
                {{ license.syndic.user.nom }} {{ license.supersyndic.user.nom }}
            </span>
        </div>

        <div class="card-body">
            <form method="POST" action="{% url 'customize-license' license.id %}">
                {% csrf_token %}
                {{ license_form.as_p }}

                <div class="text-center">
                    <button type="submit" class="btn btn-success btn-sm pull-left">{% trans "Save" %}</button>
                    <a href="javascript:history.back()" class="btn btn-sm pull-right">{% trans "Cancel" %}</a>
                </div>
            </form>
        </div>
    </div>
{% endif %}
</div>

{% endblock %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
