<!-- apps/dashboard/templates/dashboard-supersyndic.html -->

{% extends "layouts/base.html" %}

{% load static i18n %}

{% block title %} {% trans "Super User Dashboard" %} {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    {% if user.role == 'Superadmin' or user.role == 'Superadmin' or user.role == 'SuperSyndic' %}
    <div class="container text-center mb-3">
        <a href="{% url 'register' %}" class="btn btn-success btn-sm">{% trans "Inscription" %}</a>
    </div>
    {% endif %}

    {% if user.is_authenticated and user.role == 'Superadmin' %}
    <div class="d-flex justify-content-center mb-5">
        <a href="{% url 'customize-license' supersyndic.id %}" class="btn btn-warning btn-sm pull-left">
            {% trans "Modify" %}
        </a>
    </div>
    {% endif %}

    <div class="container">
        {% include 'syndic-datas.html' %}
    </div>

{% endblock %}
