<!-- apps/dashboard/templates/dashboard-superadmin.html -->

{% extends "layouts/base.html" %}

{% load static i18n %}

{% block title %} {% trans "SuperAdmin Dashboard" %} {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="container">
    <div class="container text-center mb-3">
        {% if user.is_authenticated and user.role == 'Superadmin' %}
        <a href="{% url 'register' %}" class="btn btn-success btn-sm">{% trans "Register" %}</a>
        {% endif %}
    </div>

    <div class="row">
        <div class="row">

            <!-- Syndic Infos -->
            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header card-header-success">
                        <div class="ct-chart" id="dailySalesChart">
                            {% trans "Syndics Information" %} & {% trans "Super Syndics" %}<hr>
                        </div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">
                            {% trans "Active Syndics" %}: {{ syndics.count }}
                            <small>{% trans "count" %}</small>
                        </h4>
                        <p class="card-category">
                            <span class="text-success"><i class="fa fa-long-arrow-up"></i> 19% </span>
                            {% blocktrans %}increase in today sales{% endblocktrans %}.
                        </p>
                        <hr>
                        <h4 class="card-title">
                            {% trans "Inactive Syndics" %}: {{ inactive_syndics.count }}3
                            <small>{% trans "count" %}</small>
                        </h4>
                        <p class="card-category">
                            <span class="text-success"><i class="fa fa-long-arrow-up"></i> 55% </span>
                            {% blocktrans %}increase in today sales{% endblocktrans %}.
                        </p>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> {% trans "updated 4 minutes ago" %}
                        </div>
                        <a href="{% url 'gestion-syndic' %}">
                            <div class="stats">
                                <i class="material-icons text-warning">warning</i>
                                <span>
                                    {% trans "Click to create and/or edit" %}
                                    <spann class="text-success"> {% trans "Syndics" %}</span>
                                </span>
                            </div>
                        </a>
                    </div>

                    <div class="card-body">
                        <h4 class="card-title">
                            {% trans "Active Super Syndics" %}: {{ supersyndics.count }}
                            <small>{% trans "count" %}</small>
                        </h4>
                        <p class="card-category">
                            <span class="text-success"><i class="fa fa-long-arrow-up"></i> 19% </span>
                            {% blocktrans %}increase in today sales{% endblocktrans %}.
                        </p>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> {% trans "updated 4 minutes ago" %}
                        </div>
                        <a href="{% url 'gestion-supersyndic' %}">
                            <div class="stats">
                                <i class="material-icons text-warning">warning</i>
                                <span>
                                    {% trans "Click to create and/or edit" %}
                                    <spann class="text-success"> {% trans "Super Syndics" %}</span>
                                </span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <!-- Revenue and Performance -->
            <div class="col-md-4">
                <a href="#">
                    <div class="card card-chart">
                        <div class="card-header card-header-warning">
                            <div class="ct-chart" id="websiteViewsChart">{% trans "Revenue and Performance" %}<hr></div>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">{% trans "Generated Revenue" %}</h4>
                            <hr>
                            <p class="card-category">{% trans "Current revenue:" %} <span class="text-success">$2071</span></p>
                            <hr>
                            <p class="card-category">
                                <span class="text-success"><i class="fa fa-long-arrow-up"></i> 37% </span>
                                {{ increase_decrease }}{% trans "Since the previous period." %}
                            </p>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <i class="material-icons">access_time</i> {% trans "campaign sent 2 days ago" %}
                            </div>
                            <div class="stats">
                                <i class="material-icons">search</i> {% trans "View Details" %}
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <!-- Ongoing Requests -->
            <div class="col-md-4">
                <a href="#">
                    <div class="card card-chart">
                        <div class="card-header card-header-danger">
                            <div class="ct-chart" id="completedTasksChart">{% trans "Support and Ongoing Requests" %}<hr></div>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">
                                {% trans "Number of ticket:" %} 91
                                <small>{% trans "count" %}</small>
                            </h4>
                            <hr>
                            <h4 class="card-title">{% trans "Tickets Status" %}</h4>
                            <p class="card-category">{% trans "open, pending, resolved." %}</p>
                            <hr>
                            <h4 class="card-title">{% trans "Completed Tasks" %}</h4>
                            <p class="card-category">{% trans "Last Campaign Performance" %}</p>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <i class="material-icons">access_time</i> {% trans "campaign sent 2 days ago" %}
                            </div>
                            <div class="stats">
                                <i class="material-icons">search</i> {% trans "View Details" %}
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            
        </div>
    </div>

    <!-- Back Button -->
    <div class="text-center mt-4">
        <a href="{% url 'home' %}" class="btn btn-sm">
            <i class="material-icons">arrow_back</i> 
            {% trans "Return to Home" %}
        </a>
    </div>
</div>

{% endblock %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
