<!-- apps/dashboard/templates/gestion-prestataire.html -->

{% extends "layouts/base.html" %}

{% load static i18n %}

{% block title %} {% trans "SuperAdmin Dashboard Provider" %} {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<div class="mt-5">

    <div class="card">
        <div class="card-header card-header-icon">
            <div class="card-icon">
                <i class="material-icons">business_center</i>
            </div>
            <h3 class="card-title">
                {% trans "Backoffice - Manage Providers" %}
            </h3>
        </div>
        <div class="card-footer">
        <div class="stats">
            <i class="material-icons">info</i>  
            <span class="card-title">{{ prestataires.count }} {% trans "Total Providers" %}</span>
        </div>
        </div>
        <div class="card-body">
            <!-- Providers Section -->
            <h3>{% trans "Provider Details" %}</h3>
            <div class="table-responsive mb-5" style="max-height: 455px; overflow-y: auto;">
                <table class="table table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th>{% trans "Provider Name" %}</th>
                            <th>{% trans "Email" %}</th>
                            <th>{% trans "Provider Info" %}</th>
                            <th>{% trans "Delete" %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if prestataires %}
                        {% for prestataire in prestataires %}
                        <tr>
                            <td>{{ prestataire.user.nom }}</td>
                            <td>
                                <a href="mailto:{{ prestataire.user.email }}" class="a_link">
                                    {{ prestataire.user.email }}
                                </a>
                            </td>
                            <td>
                                <a href="{% url 'dashboard-prestataire' prestataire.user.id %}" class="btn btn-sm">
                                    <i class="material-icons">search</i> {% trans "View Details" %}
                                </a>
                            </td>
                            <!-- Provider Delete Button -->
                            <td>
                                <form method="post" action="{% url 'delete-prestataire' prestataire.user.id %}"
                                    style="display:inline;">
                                    {% csrf_token %}
                                    <button type="submit" rel="tooltip" title="{% trans 'Delete' %}"
                                        class="btn btn-danger btn-link btn-sm"
                                        data-confirm="{% trans 'Are you sure you want to delete this provider?' %}">
                                        <i class="material-icons">close</i>
                                    </button>
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                        {% else %}
                        <tr>
                            <td colspan="5" class="text-center">
                                {% trans "No providers available." %}
                            </td>
                        </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- Go Back Button -->
    <div class="text-center mt-3">
        <a href="javascript:history.back()" class="btn btn-sm">
            <i class="material-icons">arrow_back</i> {% trans "Go back" %}
        </a>
    </div>

</div>

{% endblock %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
    document.querySelectorAll('button[data-confirm]').forEach(button => {
        button.addEventListener('click', function (event) {
            const confirmMessage = this.getAttribute('data-confirm');
            if (!confirm(confirmMessage)) {
                event.preventDefault();
            }
        });
    });
</script>
{% endblock javascripts %}
