<!-- apps/dashboard/templates/gestion-supersyndic.html -->

{% extends "layouts/base.html" %}

{% load static i18n %}

{% block title %} {% trans "Super Syndic Dashboard" %} {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{{ titlePage }}

{% block content %}
<div class="container">

    <div class="container text-center mb-5">
        {% if user.is_authenticated and user.role == 'Superadmin' %}
        <a href="{% url 'register' %}" class="btn btn-success btn-sm">{% trans "Sign Up" %}</a>
        {% endif %}
    </div>

    <!-- Backoffice Co-owners & Providers -->
    <div class="mt-3 mb-5">
        <ul>
            <li>
                <a class="a_link" href="{% url 'gestion-coproprietaire' %}">
                    {% trans "Backoffice - Management of Co-owners" %}
                </a>
            </li>
            <hr>
            <li>
                <a class="a_link" href="{% url 'gestion-prestataire' %}">
                    {% trans "Backoffice - Manage Providers" %}
    
                </a>
            </li>
            <hr>
        </ul>
    </div>
    
    <div class="card">
        <div class="card-header">
            <h3>{% trans "Backoffice - Manage Super Syndics" %}</h3>
        </div>
        <div class="card-body">

            <!-- Syndics Section -->
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card card-stats">
                        <div class="card-header card-header-icon">
                            <div class="card-icon">
                                <i class="material-icons">group</i>
                            </div>
                            <p class="card-category">{% trans "Syndics" %}</p>
                            <h3 class="card-title">{{ supersyndics.count }}</h3>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <i class="material-icons">info</i> {% trans "Total Syndics" %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <h3>{% trans "Super Syndic Details" %}</h3>
            <div class="table-responsive mb-5">
                <table class="table table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th>{% trans "Syndic Name" %}</th>
                            <th>{% trans "Email" %}</th>
                            <th>{% trans "License" %}</th>
                            <th>{% trans "Configure" %}</th>
                            <th>{% trans "Super Syndic Info" %}</th>
                            <th>{% trans "Delete" %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for supersyndic in supersyndics %}
                        <tr>
                            <td>{{ supersyndic.nom }}</td>
                            <td><a href="#" class="a_link">{{ supersyndic.email }}</a></td>
                            <td>
                                {% if supersyndic.license %}
                                n°{{ supersyndic.license.id }}: 
                                ({{ supersyndic.license.date_debut|date:"D, d M Y" }} -
                                {{ supersyndic.license.date_fin|date:"D, d M Y" }})
                                {% else %}
                                {% trans "No license" %}
                                {% endif %}
                            </td>
                            <td>
                                {% if supersyndic.license %}
                                <a href="{% url 'customize-license' supersyndic.license.id %}" class="a_link">
                                    <button type="su" rel="tooltip" title="{% trans 'Configure' %}"
                                        class="btn btn-primary btn-link btn-sm">
                                        <i class="material-icons">edit</i>
                                    </button>
                                </a>
                                {% else %}
                                <p>{% trans "No license found for this syndic." %}</p>
                                {% endif %}
                            </td>
                            <td>
                                {% if supersyndic.license %}
                                <a href="{% url 'dashboard-supersyndic' supersyndic.id %}" class="btn btn-sm">
                                    <i class="material-icons">search</i> {% trans "View Details" %}
                                </a>
                                {% else %}
                                <p>{% trans "No license details for this syndic." %}</p>
                                {% endif %}
                            </td>
                            <!-- Add Delete Button -->
                            <td>
                               <form method="post" action="{% url 'delete-supersyndic' supersyndic.id }" style="display:inline;">
                                    {% csrf_token %}
                                    <button type="submit" rel="tooltip" title="{% trans 'Delete' %}"
                                        class="btn btn-danger btn-link btn-sm"
                                        data-confirm="{% trans 'Are you sure you want to delete this super syndic?' %}">
                                        <i class="material-icons">close</i>
                                    </button>
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>
    </div>

    <!-- Back Button dashboard-superadmin -->
    <div class="text-center mt-3">
        <a href="{% url 'dashboard-superadmin' %}" class="btn btn-sm">{% trans "Backoffice" %}</a>
    </div>
    
</div>

{% endblock %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
    document.querySelectorAll('button[data-confirm]').forEach(button => {
        button.addEventListener('click', function (event) {
            const confirmMessage = this.getAttribute('data-confirm');
            if (!confirm(confirmMessage)) {
                event.preventDefault();
            }
        });
    });
</script>
{% endblock javascripts %}
