<!-- apps/dashboard/templates/license-detail.html -->

{% extends "layouts/base.html" %}

{% load static i18n %}

{% block title %} {% trans "License Details" %} - {{ licence.id }} {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    <div class="d-flex justify-content-center mb-3">
        <a href="{% url 'customize-license' license.id %}" class="btn btn-warning btn-sm pull-left">
            {% trans "Modify" %}
        </a>
    </div>
    <div class="container">
        {% include 'includes/users-datas.html' %}
    </div>

{% endblock %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
