<!-- apps/dashboard/templates/residence-detail.html -->

{% extends "layouts/base.html" %}

{% load static i18n %}

{% block title %} {% trans "Residence Details" %} - {{ residence.id }} {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<style>
    .icons_span {
        font-size: x-small;
    }
</style>
{% endblock stylesheets %}

{% block content %}

{% if user.role == 'Superadmin' %}
<div class="container">
    <a href="{% url 'register' %}?role=Syndic" class="btn btn-success btn-sm pull-left">
        {% trans "Create a Syndic" %}
    </a>
    
    <a href="{% url 'assign-syndic' %}" class="btn btn-success btn-sm pull-right">
        {% trans "add to Residence" %}
    </a>
</div>
<br>
{% endif %}

{% if user.role == 'Syndic' or user.role == 'SuperSyndic' %}
<div class="container">
    <a href="{% url 'register' %}?role=Coproprietaire" class="btn btn-success btn-sm pull-left">
        {% trans "Create a Co-Owner" %}
    </a>
    
    <a href="{% url 'associate-coproprietaire' %}" class="btn btn-success btn-sm pull-right">
        {% trans "add to Residence" %}
    </a>
</div>
<br>
{% endif %}

<div>
    <!-- apps/dashboard/templates/users-datas.html -->
    
    {% load static i18n %}
    
    <!-- Card principale -->
    <div class="card card-body">
        <div class="row gx-3 mb-1 align-items-center">
            <!-- Colonne pour les informations personnelles -->
            <div class="col-12 col-lg-auto text-center text-lg-start my-auto">
                <h3 class="font-weight-bold">{{ residence.nom }}</h3>
            </div>
    
            <div class="col-12 col-lg d-flex justify-content-lg-end justify-content-center">
                <div class="nav-wrapper position-relative end-0">
                    <ul class="nav nav-pills nav-fill p-0" role="tablist">
                        <li class="nav-item">
                            <div>
                                <a href="{% url 'update-residence' residence.id %}"
                                   rel="tooltip" title="{% trans 'Settings' %}" 
                                   class="btn btn-warning btn-sm">
                                    <i class="material-icons text-lg position-relative">settings</i>
                                    <span class="ms-0">{% trans "Settings" %}</span>
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    
        <!-- Icônes et boutons sur la même ligne, mais empilés sur petits écrans-->
        <div class="d-flex flex-column flex-md-row justify-content-between align-items-center">
            <!-- Icônes -->
            <ul class="nav nav-pills p-1 d-flex text-center" style="z-index: 10; gap: 1rem;">
                <li class="nav-item">
                    <a class="nav-link mb-0 px-0 py-0.5" data-bs-toggle="tab" href="tel:{{ phone }}" role="tab"
                        aria-selected="true">
                        <i class="material-icons text-lg position-relative icones-syndic" rel="tooltip"
                            title="{% trans 'Phone' %}">phone</i><br>
                        <span class="icons_span a_link">phone</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mb-0 px-0 py-0.5" data-bs-toggle="tab" href="mailto:{{ syndic.user.email }}" role="tab"
                        aria-selected="false">
                        <i class="material-icons text-lg position-relative icones-syndic" rel="tooltip"
                            title="{% trans 'Message' %}">message</i><br>
                        <span class="icons_span a_link">message</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mb-0 px-0 py-0.5" data-bs-toggle="tab" href="https://calendar.google.com/" role="tab"
                        aria-selected="false">
                        <i class="material-icons text-lg position-relative icones-syndic" rel="tooltip"
                            title="{% trans 'Event' %}">event</i><br>
                        <span class="icons_span a_link">event</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mb-0 px-0 py-0.5" data-bs-toggle="tab" href="javascript:;" role="tab"
                        aria-selected="false">
                        <i class="material-icons text-lg position-relative icones-syndic" rel="tooltip"
                            title="{% trans 'Check box' %}">check_box</i><br>
                        <span class="icons_span a_link">check box</span>
                    </a>
                </li>
            </ul>
    
            {% if user.role == 'Superadmin' or user.role == 'Syndic' or user.role == 'SuperSyndic' %}
            <!-- Boutons -->
            <div class="d-flex flex-column flex-sm-row mt-md-0 mb-4">
                <a class="btn bg-primary mx-1 my-1 btn-sm" href="#">
                    {% trans "COMPTABILITY" %}
                </a>
                <a class="btn bg-primary mx-1 my-1 btn-sm" href="{% url 'gestion-coproprietaire' %}">
                    {% trans "Co-owners" %}
                </a>
                <a class="btn bg-primary mx-1 my-1 btn-sm" href="{% url 'gestion-prestataire' %}">
                    {% trans "Providers" %}
                </a>
            </div>
            {% endif %}
        </div>
    
        <!-- Informations contact et petites cards à droite -->
        <div class="row gx-4 gy-4 justify-content-end" style="max-height: 400px; overflow-y: auto;">
    
            {% if residences %}
            <!-- List of Managed Buildings (Immeubles) -->
            <div class="col-12">
                <div class="card shadow-sm">
                    <div class="card-header card-header-icon">
                        <div class="card-icon">
                            <i class="fas fa-building fa-2x"></i>
                        </div>
                        <h5 class="card-title">{% trans "Managed Buildings" %}</h5>
                    </div>
                    {% if residence %}
                    <div class="card-body p-2">
                        <div class="col-12">
                            <strong>{% trans "Email" %}:</strong>{{ residence.nom }}<br>
                            <strong>{% trans "Address" %}:</strong> {{ residence.adresse }}<br>
                            <strong>{{ _('Created By') }}:</strong> 
                            <span class="h5">{{ residence.created_by.nom }}</span> 
                            <a href="mailto:{{ coproprietaire.user.email }}" class="a_link">
                                ({{ residence.created_by.email }})
                            </a><br>
                            <strong>{% trans "nombre_appartements" %}:</strong> {{ residence.nombre_appartements }}<br>
                            <strong>{% trans "superficie_totale" %}:</strong> {{ residence.superficie_totale }}<br>
                            <strong>{% trans "date_construction" %}:</strong> {{ residence.date_construction }}<br>
                            <strong>{% trans "nombre_etages" %}:</strong> {{ residence.nombre_etages }}<br>
                            <strong>{% trans "zones_communes" %}:</strong> {{ residence.zones_communes }}<br>
                            <strong>{% trans "date_dernier_controle" %}:</strong> {{ residence.date_dernier_controle }}<br>
                            {% if residence.syndic %}
                                <strong>
                                    {% trans "Associated Syndic" %}:
                                    {% for syndic in syndics %}
                                    {{ syndic.user.nom }}{% if not forloop.last %}, {% endif %}
                                    {% endfor %}
                                </strong>
                                <br>
                            {% endif %}
                            {% if residence.supersyndic %}
                                <strong>
                                    {% trans "Associated Supersyndic" %}:
                                    {% for supersyndic in supersyndics %}
                                    {{ supersyndic.user.nom }}{% if not forloop.last %}, {% endif %}
                                    {% endfor %}
                                </strong>
                            {% endif %}
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
            {% endif %}

            {% if coproprietaires %}
            <div class="col-12">
                <div class="card shadow-sm">
                    <div class="card-header card-header-icon">
                        <div class="card-icon">
                            <i class="fas fa-users fa-2x"></i>
                        </div>
                        <h5 class="card-title">{% trans "Associated Co-Owners" %}</h5>
                    </div>
                    <div class="card-body p-2">
                        {% for coproprietaire in coproprietaires %}
                        <div>
                            <span class="col-md-6 col-lg-6 pull-left">
                                <strong>{% trans "Last Name" %}:</strong> {{ coproprietaire.user.nom }}<br>
                                <strong>{% trans "First Name" %}:</strong> {{ coproprietaire.user.prenom }}<br>
                                
                                <strong>{% trans "Email" %}:</strong>
                                <a href="mailto:{{ coproprietaire.user.email }}" class="a_link">
                                    {{ coproprietaire.user.email }}
                                </a><br>
                                <strong>{% trans "Phone" %}:</strong>
                                <a href="tel:{{ coproprietaire.user.phone }}" class="a_link mb-3">
                                    {{ coproprietaire.user.phone }}
                                </a><hr>
                            </span>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% else %}
            <p class="col-12 text-center">{% trans "No co-owners associated with this residence." %}</p>
            {% endif %}

            {% if prestataires %}
            <div class="col-12">
                <div class="card shadow-sm">
                    <div class="card-header card-header-icon">
                        <div class="card-icon">
                            <i class="fas fa-users fa-2x"></i>
                        </div>
                        <h5 class="card-title">{% trans "Associated Providers" %}</h5>
                    </div>
                    <div class="card-body p-2">
                        {% for prestataire in prestataires %}
                        <div>
                            <span class="col-md-6 col-lg-6 pull-left">
                                <strong>{% trans "Last Name" %}:</strong> {{ prestataire.user.nom }}<br>
                                <strong>{% trans "First Name" %}:</strong> {{ prestataire.user.prenom }}<br>
            
                                <strong>{% trans "Email" %}:</strong>
                                <a href="mailto:{{ prestataire.user.email }}" class="a_link">
                                    {{ prestataire.user.email }}
                                </a><br>
                                <strong>{% trans "Phone" %}:</strong>
                                <a href="tel:{{ prestataire.user.phone }}" class="a_link mb-3">
                                    {{ prestataire.user.phone }}
                                </a>
                                <hr>
                            </span>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% else %}
            <p class="col-12 text-center">{% trans "No prestataires associated with this syndicate." %}</p>
            {% endif %}

        </div>

        <div class="text-center">
            {% if residence %}
            <a href="{% url 'update-residence' residence.id %}" class="a_link">
                <button type="submit" rel="tooltip" title="{% trans 'Update' %}" class="btn btn-warning btn-sm">
                    <i class="material-icons">edit</i>
                </button>
                <br>
                <label for="">{% trans "Update Residence" %}</label>
            </a>
            {% else %}
            <p>{% trans "No Residence found for this user." %}</p>
            {% endif %}
        </div>
    
    </div>
    
    <!-- Go Back Button -->
    <div class="text-center mt-3">
        {% if user.is_authenticated and user.role == 'Superadmin' or user.role == 'Syndic' or user.role == 'SuperSyndic' %}
        <a href="javascript:history.back()" class="btn btn-sm">
            <i class="material-icons">arrow_back</i> {% trans "Go back" %}
        </a>
        {% else %}
        <a href="{% url 'home' %}" class="btn btn-secondary btn-sm">{% trans "Back to Home" %}</a>
        {% endif %}
    </div>

</div>

{% endblock %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
