<!-- apps/dashboard/templates/syndic-datas.html -->

{% load static i18n %}

<!-- Card principale -->
<div class="card card-body">
    {% if user.role == 'Superadmin' or user.role == 'Syndic' or user.role == 'SuperSyndic' %}
    <div class="row gx-3 mb-1">
        <!-- Colonne pour les informations personnelles -->

        <div class="col-auto my-auto">
            <h5 class="mb-0">{{ nom }}</h5>
        </div>

        <!-- Bouton Réglages (plus petit) -->
        <div class="col-lg-4 col-md-6 my-sm-auto ms-sm-auto me-sm-0 mx-auto mt-2 d-md-block">
            <div class="nav-wrapper position-relative end-0">
                <ul class="nav nav-pills nav-fill p-0" role="tablist">
                    <li class="nav-item">
                        {% if license %}
                        <a class="nav-link mb-0 px-0 py-0.25" data-bs-toggle="tab"
                            href="{% url 'customize-license' license.id %}" role="tab" aria-selected="false">
                            <i class="material-icons text-lg position-relative">settings</i>
                            <span class="ms-0">{% trans "Settings" %}</span>
                        </a>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Icônes et boutons sur la même ligne, mais empilés sur petits écrans-->
    <div class="d-flex flex-column flex-md-row justify-content-between align-items-center mb-5">


        <!-- Icônes -->
        <ul class="nav nav-pills p-3 d-flex" style="z-index: 10; gap: 19px;">
            <li class="nav-item">
                <a class="nav-link mb-0 px-0 py-0.5" data-bs-toggle="tab" href="tel:{{ phone }}"
                    role="tab" aria-selected="true">
                    <i class="material-icons text-lg position-relative icones-syndic">phone</i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link mb-0 px-0 py-0.5" data-bs-toggle="tab" href="mailto:{{ syndic.user.email }}"
                    role="tab" aria-selected="false">
                    <i class="material-icons text-lg position-relative icones-syndic">message</i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link mb-0 px-0 py-0.5" data-bs-toggle="tab" href="https://calendar.google.com/" role="tab"
                    aria-selected="false">
                    <i class="material-icons text-lg position-relative icones-syndic">event</i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link mb-0 px-0 py-0.5" data-bs-toggle="tab" href="javascript:;" role="tab"
                    aria-selected="false">
                    <i class="material-icons text-lg position-relative icones-syndic">check_box</i>
                </a>
            </li>
        </ul>

        <!-- Boutons -->
        <div class="d-flex flex-column flex-sm-row mt-md-0">
            <a class="btn bg-primary mx-1 my-1 btn-sm" href="{% url 'gestion-coproprietaire' %}">
                {% trans "Management of Co-owners" %}
            </a>
            <a class="btn bg-primary mx-1 my-1 btn-sm" href="#">
                {% trans "SUIVI FINANCIER" %}
            </a>
            <a class="btn bg-primary mx-1 my-1 btn-sm" href="#">
                {% trans "COMPTABILITE" %}
            </a>
        </div>
    </div>
    {% endif %}

    <!-- Informations contact et petites cards à droite -->
    <div class="row gx-4 gy-4 justify-content-center" style="max-height: 400px; overflow-y: auto;">

        {% if license %}
        <!-- License Information -->
        <div class="col-12 col-md-6 col-lg-6">
            <div class="card">
                <div class="card-header card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">assignment</i>
                    </div>
                    <h5 class="card-title">{% trans "License Information" %}</h5>
                    <p class="card-category">{% trans "License id:" %} {{ license.id }}</p>
                </div>
                <div class="card-body p-2">
                    <p>
                        <strong>- {% trans "Start Date:" %}</strong> {{ license.date_debut|date:"d/m/Y" }}
                    </p>
                    <p>
                        <strong>- {% trans "End Date:" %}</strong> {{ license.date_fin|date:"d/m/Y" }}
                    </p>
                </div>
            </div>
        </div>
        {% endif %}

        {% if syndic %}
        <!-- Syndic Information -->
        <div class="col-12 col-md-6 col-lg-6">
            <div class="card">
                <div class="card-header card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">person</i>
                    </div>
                    <h5 class="card-title">{{ syndic.user.nom }}</h5>
                    <p class="card-category">{% trans "Syndic id:" %} {{ syndic.id }}</p>
                </div>
                <div class="card-body p-2">
                    <div>
                        <p>
                            <strong>Contact Principal: </strong>
                            &nbsp; <span class="fs-5">{{ syndic.user.prenom }}</span>
                        </p>
                        <p>
                            <strong>Email:</strong>
                            &nbsp; <span class="fs-5">
                                <a href="mailto:{{ syndic.user.email }}" class="a_link">
                                    {{ syndic.user.email }}
                                </a>
                            </span>
                        </p>
                        <p>
                            <strong>Phone:</strong> &nbsp;
                            &nbsp; <span class="fs-5">
                                <a href="tel:{{ syndic.user.phone }}" class="a_link">
                                    {{ syndic.user.phone }}
                                </a>
                            </span>
                        </p>
                        <p>
                            <strong>Adresse du siège:</strong>
                            &nbsp; <span class="fs-5">
                                {{ syndic.user.address }}</span>
                        </p>
                        <p>
                            <strong>Role:</strong>
                            &nbsp; <span class="fs-5">{{ syndic.user.role }}</span>
                        </p>
                        <p>
                            <strong>Statut:</strong>
                            &nbsp; <span class="fs-5">{{ syndic.user.status }}</span>
                        </p>
                        <p>
                            <strong>Commercial:</strong>
                            &nbsp; <span class="fs-5">{{ syndic.user.commercial }}</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}

        {% if supersyndic %}
        <!-- Super Syndic Information -->
        <div class="col-12 col-md-6 col-lg-6">
            <div class="card">
                <div class="card-header card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">person</i>
                    </div>
                    <h5 class="card-title">{{ supersyndic.user.nom }}</h5>
                    <p class="card-category">{% trans "Super Syndic id:" %} {{ supersyndic.id }}</p>
                </div>
                <div class="card-body p-2">
                    <div>
                        <p>
                            <strong>Contact Principal: </strong>
                            &nbsp; <span class="fs-5">{{ supersyndic.user.prenom }}</span>
                        </p>
                        <p>
                            <strong>Email:</strong>
                            &nbsp; <span class="fs-5">
                                <a href="mailto:{{ supersyndic.user.email }}" class="a_link">
                                    {{ supersyndic.user.email }}
                                </a>
                            </span>
                        </p>
                        <p>
                            <strong>Phone:</strong> &nbsp;
                            &nbsp; <span class="fs-5">
                                <a href="tel:{{ supersyndic.user.phone }}" class="a_link">
                                    {{ supersyndic.user.phone }}
                                </a>
                            </span>
                        </p>
                        <p>
                            <strong>Adresse du siège:</strong>
                            &nbsp; <span class="fs-5">{{ supersyndic.user.address }}</span>
                        </p>
                        <p>
                            <strong>Role:</strong>
                            &nbsp; <span class="fs-5">{{ syndic.user.role }}</span>
                        </p>
                        <p>
                            <strong>Statut:</strong>
                            &nbsp; <span class="fs-5">Actif{{ supersyndic.user.status }}</span>
                        </p>
                        <p>
                            <strong>Commercial:</strong>
                            &nbsp; <span class="fs-5">{{ supersyndic.user.commercial }}</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}

        {% if coproprietaires %}
        <!-- List of Co-owners (Coproprietaires) -->
        <div class="col-12 col-md-6 col-lg-6">
            <div class="card shadow-sm">
                <div class="card-header card-header-icon">
                    <div class="card-icon">
                        <i class="fas fa-users"></i>
                    </div>
                    <h5 class="card-title">{% trans "Total Co-owners" %}: {{ coproprietaires.count }}</h5>
                </div>
                <div class="card-body p-2">
                    <div>
                        {% for coproprietaire in coproprietaires %}
                        <strong>{% trans "Email" %}:</strong>
                        <a href="mailto:{{ coproprietaire.user.email }}" class="a_link">
                            {{ coproprietaire.user.email }}
                        </a><br>
                        <p>
                            <strong>{% trans "Last Name" %}:</strong> {{ coproprietaire.user.nom }}<br>
                            <strong>{% trans "First Name" %}:</strong> {{ coproprietaire.user.prenom }}
                        </p>
                        {% empty %}
                        <p>{% trans "No co-owner found for this user." %}</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        {% endif %}

        {% if prestataires %}
        <!-- List of Co-prestataires (Prestataires) -->
        <div class="col-12 col-md-6 col-lg-6">
            <div class="card shadow-sm">
                <div class="card-header card-header-icon">
                    <div class="card-icon">
                        <i class="fas fa-handshake"></i>
                    </div>
                    <h5 class="card-title">{% trans "Associated Co-Prestataires" %}: {{ prestataires.count }}</h5>
                </div>
                <div class="card-body p-2">
                    <div>
                        {% for prestataire in prestataires %}<strong>{% trans "Email" %}:</strong>
                        <a href="mailto:{{ prestataire.user.email }}" class="a_link">
                            {{ prestataire.user.email }}
                        </a><br>
                        <p>
                            <strong>{% trans "Last Name" %}:</strong> {{ prestataire.user.nom }}<br>
                            <strong>{% trans "First Name" %}:</strong> {{ prestataire.user.prenom }}
                        </p>
                        {% empty %}
                        <p>{% trans "No prestataire found for this user." %}</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        {% endif %}

        {% if immeubles %}
        <!-- List of Managed Buildings (Immeubles) -->
        <div class="col-12 col-md-6 col-lg-6">
            <div class="card shadow-sm">
                <div class="card-header card-header-icon">
                    <div class="card-icon">
                        <i class="fas fa-building"></i>
                    </div>
                    <h3 class="card-title">{% trans "Managed Buildings" %}</h3>
                </div>
                <div class="card-body p-2">
                    <ul>
                        {% for immeuble in immeubles %}
                        <li>{{ immeuble.nom }} - {{ immeuble.adresse }}</li>
                        <br>
                        {% empty %}
                        <p>{% trans "No building found for this user." %}</p>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        {% endif %}

        <div class="text-center">
            <a href="{% url 'update-profile' %}" class="btn btn-warning btn-sm">
                {% trans "Modify Profile" %}
            </a>
        </div>

    </div>

</div>

<!-- Go Back Button -->
<div class="text-center mt-3">
    {% if user.is_authenticated and user.role == 'Superadmin' %}
    <a href="javascript:history.back()" class="btn btn-sm">
        <i class="material-icons">arrow_back</i> {% trans "Go back" %}
    </a>
    {% else %}
    <a href="{% url 'home' %}" class="btn btn-secondary btn-sm">{% trans "Back to Home" %}</a>
    {% endif %}
</div>
