<!-- apps/dashboard/templates/gestion-residence.html -->

{% extends "layouts/base.html" %}

{% load static i18n %}

{% block title %} {% trans "Residence Dashboard" %} {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<div class="mt-4">
    {% if user.role == 'Syndic' or user.role == 'SuperSyndic' %}
    <div class="container text-center mb-3">
        <a href="{% url 'create-residence' user.id %}" class="btn btn-success btn-sm">
            {% trans "Create Residence" %}
        </a>
    </div>
    {% endif %}

    <div class="card">
        <div class="card-header card-header-icon">
            <div class="card-icon">
                <i class="fa-solid fa-city"></i>
            </div>
            <h3 class="card-title">
                {% trans "Backoffice - Managing Residences" %}
            </h3>
        </div>
        <div class="card-footer">
            <div class="stats">
                <i class="material-icons">info</i>
                <span class="card-title">{{ residences.count }} {% trans "Residences" %}</span>
            </div>
            <div class="stats">
                <i class="material-icons">info</i>
                <span class="card-title">{{ coproprietaires.count }} {% trans "Co-owners" %}</span>
            </div>
        </div>
        <div class="card-body">

            <!-- Residences Section -->
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-12">
                </div>
            </div>
            <h3>{% trans "Details of Residences" %}</h3>
            <div class="table-responsive mb-5" style="max-height: 455px; overflow-y: auto;">
                <table class="table table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th>{% trans "Residence Name" %}</th>
                            <th>{% trans "Email" %}</th>
                            <th>{% trans "Residence Info" %}</th>
                            <th>{% trans "Configure" %}</th>
                            <th>{% trans "Delete" %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if residences %}
                        {% for residence in residences %}
                        <tr>
                            <td>{{ residence.nom }}</td>
                                <td>
                                    {% if residence.syndic.exists %}
                                    {% for syndic in residence.syndic.all %}
                                    <a href="mailto:{{ syndic.user.email }}" class="a_link">{{ syndic.user.email }}</a><br>
                                    {% endfor %}
                                    {% endif %}
                                    
                                    {% if residence.supersyndic.exists %}
                                    {% for supersyndic in residence.supersyndic.all %}
                                    <a href="mailto:{{ supersyndic.user.email }}" class="a_link">{{ supersyndic.user.email }}</a><br>
                                    {% endfor %}
                                    {% endif %}
                                </td>
                            <td>
                                <a href="{% url 'residence-detail' residence.id %}" class="btn btn-sm">
                                    <i class="material-icons">search</i> {% trans "View Details" %}
                                </a>
                            </td>
                            <td>
                                <a href="{% url 'update-residence' residence.id %}" class="a_link">
                                    <button type="submit" rel="tooltip" title="{% trans 'Configure' %}" class="btn btn-primary btn-link btn-sm">
                                        <i class="material-icons">edit</i>
                                    </button>
                                </a>
                            </td>
                            <td>
                                <form method="post" action="{% url 'delete-residence' residence.id %}"
                                    style="display:inline;">
                                    {% csrf_token %}
                                    <button type="submit" rel="tooltip" title="Supprimer"
                                        class="btn btn-danger btn-link btn-sm"
                                        data-confirm="{% trans 'Are you sure you want to delete this residence?' %}">
                                        <i class="material-icons">close</i>
                                    </button>
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                        {% else %}
                        <tr>
                            <td colspan="5" class="text-center">
                                {% trans "No residences available." %}
                            </td>
                        </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>

        </div>
    </div>

    <!-- Go Back Button -->
    <div class="text-center mt-3">
        <a href="javascript:history.back()" class="btn btn-sm">
            <i class="material-icons">arrow_back</i> {% trans "Go back" %}
        </a>
    </div>

</div>

{% endblock %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
    document.querySelectorAll('button[data-confirm]').forEach(button => {
        button.addEventListener('click', function (event) {
            const confirmMessage = this.getAttribute('data-confirm');
            if (!confirm(confirmMessage)) {
                event.preventDefault();
            }
        });
    });
</script>
{% endblock javascripts %}
